<body>
  <header>
<div class="menu container">
  <a href="#" class="logo">MORAT</a>
  <input type="checkbox" id="menu">
  <label for="menu">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/76/Morat.png" class="menu-icono" alt="">
  </label>
  <nav class="navbar">
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Contacto</a></li>
      
    </ul> 

  </nav>

</div>
<div class="header-content container">
  <div class="content">
    <br>
    <h1>Banda colombiana de pop latino y Rock latino formada originalmente en Bogotá en 2011. </h1>
    <p>
      Se conocen desde los 5 años de edad.
    </p>
    <a href="https://morat.shop/pages/si-ayer-fuera-hoy-morat-world-tour-2023" class="btn-1">Gira</a>
    <a href="https://morat.shop/collections/merchandising" class="btn-1">Merch</a>

  </div>
  <img src="https://caracol.com.co/resizer/bFyorbVzb1DFf00s58mEUdACMhQ=/650x488/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/prisaradioco/3EIGDM6UNBIW3CR2QNXRY2OSGY.jpg" alt="">
  
  </div>
</header>

<main class="services container">
  <div class="service">
    
    <h3>Historia </h3>
    <p>
      Antes de adoptar el nombre Morat, eran conocidos como "Malta". Pero, tiempo después, al ir a firmar con Universal Music, 
      una banda brasileña ya estaba registrada como Malta, así que cambiaron su nombre al actual
    </p>

  </div>
  <div class="service">
    
    <h3>Integrantes </h3>
    <p>
      Sus integrantes son Juan Pablo Isaza Piñeros, Juan Pablo Villamil Cortés,
      Simón Vargas Morales Y Martín Vargas Morales. Hasta finales de 2016 había formado 
      parte de la banda Alejandro Posada Carrasco, pero decidió abandonar el grupo, 
      por lo que fue sustituido por Martín Vargas ese mismo año.
    </p>

  </div>
  <div class="service">
    
    <h3>Orígenes de Morat</h3>
    <p>
      Se conocen desde toda la vida y siempre han sido ese grupo de amigos inseparables que podemos 
      ver en entrevistas y conciertos. Y ese de toda la vida es completamente literal.
    </p>

  </div>
  <div class="service">
    
    <h3>Gira </h3>
    <p>
      La banda colombiana debuta en el programa cuando Si ayer fuera hoy World Tour está en marcha. 
      Los cuatro artistas han empezado una gira mundial que la trae a Ecuador este 2023.
    </p>

  </div>
</main>

<section class="porfolios container">
  <h2>TRAYECTORIA</h2>

  <div class="porfolio">
    <img src="https://img.bekia.es/galeria/167000/167335_morat-sostiene-premio-40-music-awards-2022.jpg" alt="">
    <div class="porfolio-1">
      <h3>Que premios ha ganado Morat?</h3>
      <p>
        Disco de Oro en España con el tema Cuánto me Duele. Además, fueron galardonados con el Premio a Mejor 
        Banda Revelación en los Premios 40Principales, Mejor Banda Revelación en los Premios Cadena Dial, han sido nominados a un Latin Grammy como Mejor Nuevo Artista y recientemente han sido nominados a los Premios MTV MIAW
      </p>
   </div>

  </div>
  <div class="porfolio">
    
    <div class="porfolio-2">
      <h3>Música</h3>
      <p>
        En YouTube, hemos visto su música en más de 15 países, obteniendo lugares en el Top 40 en lugares como España, México, Bolivia, Argentina, Italia y Ecuador, además de su Colombia natal”. Dijo que 
        Morat ha logrado tener más de 950 millones de visitas en YouTube, solo en los últimos 12 meses.
      </p>
    </div>
    <img src="https://i.ytimg.com/vi/TYrcdhots80/maxresdefault.jpg" alt="">
  </div>

  <div class="porfolio">
    <img src="https://i.scdn.co/image/ab67616d00001e02191ce33e09ff4dd11b17d421" alt="">
    <div class="porfolio-1">
      <h3>Sencillos</h3>
      <p>
        Mi Nuevo Vicio <br>
        En Un Solo Día <br>
        Aprender A Quererte <br>
        Yo Más Te Adoro <br>
        Di Que No Te Vas <br>
        Si Tú Te Vas <br>
        Ladrona <br>
        Cómo Te Atreves <br>
        Una Vez Más <br>
        Mil Tormentas (con Cali y El Dandee) <br>
        Ahora Que No Puedo Hablar <br>
        Amor Con Hielo <br>
        Cuánto Me Duele <br>
        Ya No Estás Tú <br>
        La Última Vez <br>
        Mi Nuevo Vicio (con Paulina Rubio) <br>
        Yo contigo, tu conmigo (con Álvaro Soler) <br>
        Del Estadio Al Cielo <br>
        Besos en guerra ( con Juanes) <br>
        Sé que te duele ( con Alejandro Fernández) <br>
        Para que nadie se entere <br>
        Antes de los Veinte <br>
        La correcta (con Nabález) <br>
        ¿A dónde vamos a parar? (con Paty Cantú) <br>
        Cuando nadie ve <br>
        Consejo de amor (con Tini Stoessel) <br>
        Punto y aparte <br>
        Mejores amigos (Yera) <br>
        Idiota (Danna Paola) <br>
        23 <br>
        LLamada Perdida <br>
        506 <br>
        Paris <br>
        Entre otros.
      </p>
    </div>
  </div>

  <div class="porfolio">
    <div class="porfolio-2">
      <h3>Albumes</h3>
      <p>
        Tienen un total de 4 ÁLBUMES: <br>
        Sobre el amor y sus efectos secundarios (2016) <br>
        Balas perdidas (2018)<br>
        ¿A dónde vamos? (2020) <br>
        Si ayer fuera hoy (2022)
      </p>
    </div>
    <img src="https://6def504ae7.cbaul-cdnwnd.com/fa0bdb2257d5cd8ba012ad377ef72e54/200000069-8cfdd8cfde/nueva%20colecci%C3%B3n%20%C2%B7%20nueva%20colecci%C3%B3n%20%C2%B7%20nueva%20colecci%C3%B3n%20%C2%B7.png?ph=6def504ae7" alt="">
  </div>

</section>

<footer>
  <div class="container">
    <div class="info">
      <div class="info-content">
        <div class="info-price">
          <h2>Camiseta</h2>
          <p class="price">$25</p>
          <p>
            Camiseta negra unisex de algodón orgánico 
            certificado con nuestro nuevo logo, es de 100% algodón orgánico hilado y peinado, 
            150 GSM
          </p>

        </div>
        <div class="info-txt">
          <h2>Proximos Conciertos</h2>
          <p>
            SI AYER FUERA HOY MORAT WORLD TOUR 2023
          </p>
          <a href="https://morat.shop/pages/si-ayer-fuera-hoy-morat-world-tour-2023" class="btn-1">Ver en el siguiente enlace</a>

        </div>

      </div>

      <hr>
      <div class="enlaces">
        <h3>Morat</h3>
        <div class="enlace">
          <li><a href="#">SI </a></li>
          <li><a href="#">AYER</a></li>
          <li><a href="#">FUERA</a></li>
          <li><a href="https://www.youtube.com/watch?v=4IzYE_e5POg&list=OLAK5uy_mIARUpXWHVeOkhpsI-4IthRwh_deA4rq4">HOY</a></li>

        </div>

      </div>

    </div>

  </div>
</footer>
</body>

